<ion-header>
  <ion-toolbar>
    <ion-title>Chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>The Beginning</h2>

  <img src="assets/images/begin.jpg">

  <br />


  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat sapien quis diam ornare aliquet. In rutrum nulla massa, ac malesuada enim pretium ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla at fermentum enim, in posuere augue. Sed at justo iaculis, rutrum orci quis, ultrices erat. Praesent erat eros, aliquam in tellus ut, tristique rhoncus eros. Aenean fermentum tincidunt risus, eget interdum eros. Nam in viverra tortor. Duis id magna mollis, ultrices turpis eget, viverra turpis. Etiam malesuada lacinia interdum. Etiam dictum libero sed feugiat tristique. Phasellus pulvinar purus id erat auctor, eu commodo urna viverra.

  Vivamus consequat varius felis, sit amet vestibulum quam dapibus sed. Donec ullamcorper, nunc quis porta fermentum, justo metus molestie metus, a suscipit urna eros in mi. Vivamus mi sem, dictum nec faucibus non, imperdiet ac sem. Mauris sagittis odio sit amet massa placerat, vitae pretium orci suscipit. Donec sit amet justo ipsum. Ut cursus enim pharetra, mollis neque nec, efficitur quam. Ut nec mi ut diam mattis imperdiet. Sed bibendum libero ut tellus rutrum condimentum. Mauris lacinia felis mauris, eu mattis nisi ultricies at. Nam tincidunt velit at enim venenatis pellentesque. Etiam ac nibh turpis. Duis vel velit lorem. In hac habitasse platea dictumst. Pellentesque facilisis interdum arcu in vestibulum. Duis cursus pulvinar leo eu pellentesque. Pellentesque quis nunc a tellus consectetur rhoncus.
  
 <br />

  <ion-button [routerDirection]="'root'" [routerLink]="['/toc']"> Go Back to TOC</ion-button>
  <ion-button  [routerDirection]="'root'" [routerLink]="['/chapter2']"> Go to Chapter 2</ion-button>
</ion-content>
